/*Tipo de fuente*/
/*#region fuente*/
@font-face{
    font-family: Pixelado;
    src: url(../fonts/Minecraft.ttf);
}
/*#endregion*/

/*Contenedor Global*/
/*#region Contenedor*/
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Pixelado;
}
.pantalla{
    width: 50em;
    height: 40em;
    margin-top: 2em;
}
/*#endregion*/

/*Pantalla Inicio*/
/*#region PantallaInicio*/

#btnComenzar{
    font-weight: bold;
    cursor:pointer;
}
.bienvenida{
    background-color: red;
}

/*#endregion*/

/*Pantalla Seleccion Personaje*/
/*#region PantallaSeleccion*/

.seleccionPersonaje{
    background-color: blue;
}
.zona-superior{
    height: 6em;
}
.zona-media{
    height: 24em;
}
.zona-inferior{
    width: 100%;
    height: 10em;
}
.avatares{
    flex-direction: row;
}
#btnPelear{
    font-weight: bold;
    cursor:pointer;
}
.cuadroPersonaje{
    width: 5em;
    height: 5em;
    background-color: blue;
    margin: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cuadroPersonaje:hover{
    width: 5.1em;
    height: 5.1em;
    background-color: white;
    margin: 0.1em;
}
#imglinea{
    height: 4em;
    width: 0.4em;
    background-color: black;
}
.imglinea-grande{
    height: 8em;
    width: 0.8em;
    background-color: black;
}
#imgtriangulo{
    height: 0;
    width: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-bottom: 3em black  solid;
}
.imgtriangulo-grande{
    height: 0;
    width: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-bottom: 6em black  solid;
}
#imgcuadrado{
    height: 3em;
    width: 3em;
    background-color: black;
}
.imgcuadrado-grande{
    height: 6em;
    width: 6em;
    background-color: black;
}
#imgpentagono{
    position: relative;
    width: 1.7em;
    border-width: 1.7em 0.7em 0;
    border-style: solid;
    border-color: black transparent;
}
.imgpentagono-grande{
    position: relative;
    width: 3.4em;
    border-width: 3.4em 1.4em 0;
    border-style: solid;
    border-color: black transparent;
}
#imgpentagono:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -2.7em;
    left: -0.7em;
    border-width: 0 1.55em 1em;
    border-style: solid;
    border-color: transparent transparent black;
}
.imgpentagono-grande:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -5.4em;
    left: -1.4em;
    border-width: 0 3.1em 2em;
    border-style: solid;
    border-color: transparent transparent black;
}
#imghexagono{
    width: 4em;
    height: 2.1em;
    background: black;
    position: relative;
}
.imghexagono-grande{
    width: 8em;
    height: 4.2em;
    background: black;
    position: relative;
}
#imghexagono:before {
    content: "";
    position: absolute;
    top: -1em;
    left: 0;
    width: 0;
    height: 0;
    border-width: 0 2em 1em;
    border-style: solid;
    border-color: transparent transparent black;
}
.imghexagono-grande:before {
    content: "";
    position: absolute;
    top: -2em;
    left: 0;
    width: 0;
    height: 0;
    border-width: 0 4em 2em;
    border-style: solid;
    border-color: transparent transparent black;
}
#imghexagono:after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: 0;
    width: 0;
    height: 0;
    border-width: 1em 2em 0;
    border-style: solid;
    border-color: black transparent transparent;
}
.imghexagono-grande:after {
    content: "";
    position: absolute;
    bottom: -2em;
    left: 0;
    width: 0;
    height: 0;
    border-width: 2em 4em 0;
    border-style: solid;
    border-color: black transparent transparent;
}
#imgcirculo{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: black;
}
.imgcirculo-grande{
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background-color: black;
}
/*#endregion*/

/*Pantalla Lucha*/
/*#region PantallaLucha*/

.pelea{
    background-color: green;
}
.espacio-barras-vida{
    flex-direction: row;
}
.barra-vida{
    width: 10em;
    height: 2em;
    margin: 0.1em;
    background-color: grey;
    display: flex;
    flex-direction: row;
}
.hitPoint{
    width: 0.8em;
    height: 1.8em;
    margin: 0.1em;
    background-color: lawngreen;
}
.espacio-avatares{
    flex-direction: row;
}
#btnAtacar1{
    width: 10em;
    height: 4em;
    background-color: red;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0.1em;
}
#btnAtacar2{
    width: 10em;
    height: 4em;
    background-color: blue;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0.1em;
}
/*#endregion*/

/*Pantalla Victoria*/
/*#region PantallaVictoria*/

.victoria{
    background-color: white;
}
.mensajeGanador{
    font-weight: bolder;
    font-size: 4em;
}
#btnVolver{
    height: 10em;
    width: 10em;
    background-color: grey;
    color: black;
    cursor: pointer;
}
/*#endregion*/